/* mobile first */
/* variable declaration */
:root{
     --background:#f2efe8;
     --text-color:#333;
     --primary-color:#0f4d92;
     --secondary-color:beige;
}
*{
     margin:0;
     padding:0;
     box-sizing: border-box;
}
body{
     background-color: var(--background);
     color:var(--text-color);
     font-family:Arial, Helvetica, sans-serif;
}
header,footer{
     background-color: var(--primary-color);
     color:var(--secondary-color);
}
header{
     display: flex;
     justify-content: space-around; 
     align-items: center;  
     height:175px;
}
h1{
     margin-left: 10px;
     font-family:Georgia, 'Times New Roman', Times, serif;
}
ul li{
     list-style: none;
     padding:10px;
     margin-right: 5px;
}
ul li a{
     text-decoration: none;
     color:var(--secondary-color);
}
span{
     position: relative;
   }

   span[data-descr]:hover::after {
     content: attr(data-descr);
     position: absolute;
     left: -30px;
     top: 24px;
     min-width: 125px;
     border: 1px var(--primary-color) solid;
     border-radius: 10px;
     background-color:var(--primary-color);
     padding: 10px;
     color: var(--background);
     z-index: 1;
   }
   
section{
     display: flex;
     margin: 50px auto;
}
section *{
     margin:10px;
}
section h2{
     padding: 10px;
     border-right: 5px double var(--primary-color);
}
#about-me-content{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
}
#about-me-content p{
     padding: 25px;
     border-radius: 10px;
     border: 2px dashed var(--primary-color);
}
#about-me img{
     border-radius: 50%;
}

#about-me img,
.cards img{
     width:250px;
     height: 250px;
     padding: 15px;
}
.card-container{
     display: flex;
     flex-wrap: wrap;
     /* flex:1 1 100px; */
}
.cards{
     width:325px;
     border: 2px dotted maroon;
     box-shadow: 10px 10px gray ;
     border-radius: 10px;
     text-align: center;
}
.cards h2{
     border-right:none;
     font-size: 25px;
     padding:5px;
     border: 1px solid var(--primary-color);
     border-radius: 10px;
}
.cards .js{
     color:blue ;
}
.cards .css{
     color: green;
}
.cards .html{
     color: red;
}
.cards img:hover{
     transform: scale(1.25);
}

#first-item{
     /* flex-basis:1010px; */
     width: 85vw;
}
#first-item img{
     width:50vw;
}
#first-item img:hover{
     transform: scale(1.1);
}
#contact-me-info{
     display: flex;
     justify-content:space-between;
}

footer{
     height:50px;
     text-align: center;
}
footer p{
     padding:10px;
}
@media screen and (min-width:768px){
     header{
          justify-content: space-between; 
          align-items: center; 
          height:75px;
     }
     ul li{
          display: inline;
     }
     #about-me-content{
          flex-direction: row;
     }
}